# ======================================================================
# EPED

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = ips_eped
TOKAMAK_ID = d3d

SIM_NAME = ${RUN_ID}
WORK_DIR = ${PWD}
INPUT_DIR_SIM = ${PWD}/input
SIM_ROOT = ${WORK_DIR}/EPED_RUN

OUTPUT_PREFIX = 
LOG_FILE = run.log
LOG_LEVEL = DEBUG

RUN_COMMENT = ips-eped
TAG = template

SIMULATION_MODE = NORMAL
RESTART_ROOT = ${SIM_ROOT}

USE_PORTAL = True
PORTAL_URL = http://lb.ipsportal.production.svc.spin.nersc.org

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = ${SIM_ROOT}/work/plasma_state
EPED_STATE = eped_state.nc
STATE_FILES = ${EPED_STATE}

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EQ PB 

    # Required ports - DRIVER and INIT   

    [[INIT]]
        IMPLEMENTATION = eped_init

    [[DRIVER]]
        IMPLEMENTATION = eped_driver

    # Physics ports

    [[EQ]]
        IMPLEMENTATION = eped_toq

    [[KB]]
        IMPLEMENTATION = eped_baloo

    [[PB]]
        IMPLEMENTATION = eped_elite

    # Monitor ports
   
    [[MONITOR]]
        IMPLEMENTATION = harvest_comp

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[eped_init]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_init
    MODULE = eped.eped_init
    SCRIPT = 
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 

[eped_driver]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_driver
    MODULE = eped.eped_driver
    SCRIPT = 
    NPROC = 1
    BIN_PATH = 
    INPUT_DIR = ${INPUT_DIR_SIM}
    NMODES = 5 6 8 10 15 20 30
    WIDTHS = 3 4 5 7 9
#   TEPED_BOUND = 0.45 2.20 0.02
    TEPED_BOUND = 0.45 2.00 0.02
    EPED_INPUT = ineped # eped.input
    INPUT_FILES = ${EPED_INPUT}
    INPUT_FORMAT = NAMELIST 
    OUTPUT_FILES = ${EPED_STATE} 
    RESTART_FILES = 
    SUMMARY_DIR = SUMMARY
    CLEAN_AFTER = 0
#   RESTART = 1

[eped_toq]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_toq
    NPROC = ${NPROC_EPED}  
    MODULE = eped.eped_toq
    SCRIPT = 
    BIN_PATH = ${TOQ_BIN_PATH}
    BIN = toq.x
    INPUT_DIR = ${EPED_TEMPLATE_DIR}
    INBDRY = #inbdry
    INPUT_FILES = intoq.eped1 ${INBDRY} 
    OUTPUT_FILES = 
    RESTART_FILES = 
    TIME_OUT = 2000 
    CLEAN_AFTER = 0
    RUN_PARALLEL_BACKEND = MPI
    RUN_PARALLEL = ${RUN_PARALLEL_BIN_PATH}/run_parallel.exe
#   RUN_PARALLEL_BACKEND = DASK
#   DASK_NODES = 1

[eped_baloo]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_baloo
    MODULE = eped.eped_baloo
    SCRIPT = 
    NPROC = ${NPROC_EPED}
    BIN_PATH = ${BALOO_BIN_PATH}
    BIN = baloo.x
    INPUT_DIR = ${EPED_TEMPLATE_DIR}
    INPUT_FILES = inbal.wid5
    OUTPUT_FILES = 
    RESTART_FILES = 
    RUN_PARALLEL = ${RUN_PARALLEL_BIN_PATH}/run_parallel.exe
    TIME_OUT = 2000 
    CLEAN_AFTER = 0

[eped_elite]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_elite
    MODULE = eped.eped_elite
    SCRIPT = 
    NPROC = ${NPROC_EPED}
    BIN_PATH = ${ELITE_BIN_PATH}
    BIN = elite.x
    INPUT_DIR = ${EPED_TEMPLATE_DIR}
    INPUT_FILES = eped1.in
    OUTPUT_FILES = 
    RESTART_FILES = 
    TIME_OUT = 2000 
    CLEAN_AFTER = 0
    RUN_PARALLEL_BACKEND = MPI 
    RUN_PARALLEL = ${RUN_PARALLEL_BIN_PATH}/run_parallel.exe
#   RUN_PARALLEL_BACKEND = DASK
#   DASK_NODES = 3

[harvest_comp]
    CLASS = harvest
    SUB_CLASS = 
    NAME = harvest_comp
    MODULE = eped.harvest_comp
    SCRIPT = 
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
