# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = fastran
TOKAMAK_ID = D3D
SHOT_NUMBER = 090752
TIME_ID = 01970

SIM_NAME = ${RUN_ID}_${TOKAMAK_ID}_${SHOT_NUMBER}

OUTPUT_PREFIX = 
LOG_FILE = run.log
LOG_LEVEL = DEBUG

INPUT_DIR_SIM = ${PWD}/input
SIM_ROOT = ${PWD}/RUN

RUN_COMMENT = D3D tglf validation from given experimental analysis 
TAG = 

SIMULATION_MODE = NORMAL
RESTART_TIME =
RESTART_ROOT = ${SIM_ROOT}

USE_PORTAL = True
PORTAL_URL = http://lb.ipsportal.production.svc.spin.nersc.org

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = ${SIM_ROOT}/work/plasma_state

CURRENT_STATE = s${SHOT_NUMBER}.${TIME_ID}
CURRENT_EQDSK = g${SHOT_NUMBER}.${TIME_ID}
CURRENT_INSTATE = i${SHOT_NUMBER}.${TIME_ID}

STATE_FILES = ${CURRENT_STATE} ${CURRENT_EQDSK} ${CURRENT_INSTATE}

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EQ TR 
    PREPROCESS = 

    # DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = fastran_driver

    [[INIT]]
        IMPLEMENTATION = fastran_init
      
    # Physics ports

    [[EQ]]
        IMPLEMENTATION = efit

    [[TR]]
        IMPLEMENTATION = fastran

    # Monitor ports
   
    [[MONITOR]]
        IMPLEMENTATION = monitor

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[fastran_init]
    CLASS = fastran
    SUB_CLASS = init
    NAME = fastran_init
    MODULE = fastran.driver.fastran_init
    SCRIPT =
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = ${INPUT_DIR_SIM}
    INIT_METHOD = instate
    INSTATE_METHOD = # model
    INSTATE = instate
    INGEQDSK = # ingeqdsk
    INPUT_FILES = ${INSTATE} ${INGEQDSK}
    OUTPUT_FILES = 
    RESTART_FILES = 

[fastran_driver]
    CLASS = fastran
    SUB_CLASS = driver
    NAME = fastran_driver
    MODULE = fastran.driver.fastran_driver
    SCRIPT =
    NPROC = 1
    BIN_PATH =
    BIN =
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    SUMMARY = ${PWD}/SUMMARY

[efit]
    CLASS = fastran
    SUB_CLASS = eq
    NAME = efit
    MODULE = fastran.equilibrium.efit
    SCRIPT =
    NPROC = 1
    BIN_PATH = ${EFIT_BIN_DIR}
    BIN = ${EFIT_BIN_NAME} 129 129
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUT_FILES =
    OUTPUT_FILES = g*.* a*.* m*.* k*.* efit.log
    RESTART_FILES =

    INIT_RUN = 1 
    INIT_RUN_STEP = 0
    NITER = 10
    PRESSURE = 'total'
#   PRESSURE = 'kinetic'

    TOPOLOGY = LSN # LSN USN DN

    UPDATE_PS = 1

[fastran]
    CLASS = fastran
    SUB_CLASS = tr
    NAME = fastran
    MODULE = fastran.solver.fastran
    SCRIPT =
    NPROC = 100
    NPROC_KY = 2
    BIN_PATH = ${FASTRAN_BIN_DIR}
    BIN = ${FASTRAN_BIN_NAME}
    INPUT_DIR = ${INPUT_DIR_SIM}
    INFASTRAN = infastran
    INPUT_FILES = ${INFASTRAN} intglf
    OUTPUT_FILES = fastran.nc inprof inmetric infastran intglf xfastran.log ${CURRENT_INSTATE}
    RESTART_FILES =

    RELAX = 1.0

[monitor]
    CLASS = monitor
    SUB_CLASS =
    NAME = monitor
    MODULE = fastran.monitor.monitor
    SCRIPT =
    NPROC = 1
    BIN_PATH =
    BIN =
    INPUT_DIR =
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =

# =============================================================================
# ITERATION LOOP SECTION
# =============================================================================

[ITERATION_LOOP]
    MODE = REGULAR
    NSTEP = 1   
    NSTEP_PREPROCESS = 1  

