# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = fastran
TOKAMAK_ID = FPP
# SHOT_NUMBER = 
# TIME_ID = 

SIM_NAME = ${RUN_ID}_${SHOT_NUMBER}

OUTPUT_PREFIX = 
LOG_FILE = run.log
LOG_LEVEL = DEBUG

INPUT_DIR_SIM = ${PWD}/input
SIM_ROOT = ${PWD}/SCAN

RUN_COMMENT = Template
TAG = 

SIMULATION_MODE = NORMAL
RESTART_TIME =
RESTART_ROOT = ${SIM_ROOT}

# USE_PORTAL = True
# PORTAL_URL = http://lb.ipsportal.production.svc.spin.nersc.org

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = ${SIM_ROOT}/work/plasma_state

CURRENT_STATE = s${SHOT_NUMBER}.${TIME_ID}
CURRENT_EQDSK = g${SHOT_NUMBER}.${TIME_ID}
CURRENT_INSTATE = i${SHOT_NUMBER}.${TIME_ID}

STATE_FILES = ${CURRENT_STATE} ${CURRENT_EQDSK} ${CURRENT_INSTATE} 

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EQ HCD TR BC  
    PREPROCESS = 
    POSTPROCESS = 

    # DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = fastran_driver

    [[INIT]]
        IMPLEMENTATION = fastran_init
      
    # Physics ports

    [[TR]]
        IMPLEMENTATION = fastran

    [[EQ]]
        IMPLEMENTATION = efit

    [[HCD]]
        IMPLEMENTATION = hcd_model

    [[BC]]
    #   IMPLEMENTATION = modeleq_constraint
        IMPLEMENTATION = constraint_current

    # Monitor ports
   
    [[MONITOR]]
        IMPLEMENTATION = monitor

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[fastran_init]
    CLASS = fastran
    SUB_CLASS = init
    NAME = fastran_init
    MODULE = fastran.driver.fastran_init
    SCRIPT =
    NPROC = 1
    BIN_PATH = 
    BIN =
    INPUT_DIR = ${INPUT_DIR_SIM}
    INIT_METHOD = instate
    INSTATE_METHOD = model
    INSTATE = instate
#   INGEQDSK = ingeqdsk
    INPUT_FILES = ${INSTATE} #${INGEQDSK}
    OUTPUT_FILES =
    RESTART_FILES =

[fastran_driver]
    CLASS = fastran
    SUB_CLASS = driver
    NAME = fastran_driver
    MODULE = fastran.driver.fastran_driver
    SCRIPT =
    NPROC = 1
    BIN_PATH =
    BIN =
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    SUMMARY = ${PWD}/SUMMARY

[fastran]
    CLASS = fastran
    SUB_CLASS = tr
    NAME = fastran
    MODULE = fastran.solver.fastran
    SCRIPT =
    NPROC = 2 # 1
    NPROC_KY = 1
    BIN_PATH = ${FASTRAN_BIN_DIR}
    BIN = ${FASTRAN_BIN_NAME}
    INPUT_DIR = ${INPUT_DIR_SIM}
    INFASTRAN = infastran
    INPUT_FILES = ${INFASTRAN} intglf
    OUTPUT_FILES = fastran.nc inprof inmetric infastran intglf xfastran.log ${CURRENT_INSTATE}
    RESTART_FILES =

    RELAX = 1.0

[efit]
    CLASS = fastran
    SUB_CLASS = eq
    NAME = efit
    MODULE = fastran.equilibrium.efit
    SCRIPT =
    NPROC = 1
    BIN_PATH = ${EFIT_BIN_DIR}
    BIN = ${EFIT_BIN_NAME} 129 129
    INPUT_DIR = ${INPUT_DIR_SIM}
    INSTATE = instate
    INPUT_FILES = ${INSTATE}
    OUTPUT_FILES = g*.* a*.* m*.* k*.* efit.log
    RESTART_FILES =

    INIT_RUN = 1
    INIT_RUN_STEP = 0
    NITER = 10
#   PRESSURE = 'total'
    PRESSURE = 'kinetic'

    TOPOLOGY = DN # LSN USN DN
    SCALE_GS = 1

    SERIAL = 1

[hcd_model]
    CLASS = fastran
    SUB_CLASS = ic
    NAME = hcd_model
    MODULE = fastran.heating.hcd_model
    SCRIPT =
    NPROC = 1
    BIN_PATH =
    BIN =
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUT_FILES = inhcd
    OUTPUT_FILES =
    RESTART_FILES =
    ADD = 0

[modeleq_constraint]
    CLASS = fastran
    SUB_CLASS =
    NAME = modeleq_constraint
    MODULE = fastran.driver.modeleq_constraint
    SCRIPT =
    NPROC = 1
    BIN_PATH =
    BIN =
    INPUT_DIR = ${INPUT_DIR_SIM}
    INFASTRAN =
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    PS_UPDATE = enabled

[constraint_current]
    CLASS = fastran
    SUB_CLASS = pre
    NAME = constraint_current
    SCRIPT =
    MODULE = fastran.constraint.constraint_current
    NPROC = 1
    BIN_PATH =
    BIN =
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =

    METHOD = broadJ
    RHO_J = 0.65
    JAXIS = 0.6
    RHO_JBDRY = 0.85

[monitor]
    CLASS = monitor
    SUB_CLASS =
    NAME = monitor
    SCRIPT =
    MODULE = fastran.monitor.monitor
    NPROC = 1
    BIN_PATH =
    BIN =
    INPUT_DIR =
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =

# =============================================================================
# ITERATION LOOP SECTION
# =============================================================================

[ITERATION_LOOP]
    MODE = REGULAR
    NSTEP = 10 
