# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = fastran
TOKAMAK_ID = FPP 
# SHOT_NUMBER = 
# TIME_ID = 

SIM_NAME = ${RUN_ID}_${TOKAMAK_ID}_${SHOT_NUMBER}

OUTPUT_PREFIX = 
LOG_FILE = run.log
LOG_LEVEL = DEBUG

INPUT_DIR_SIM = ${PWD}/input
SIM_ROOT = ${PWD}/SCAN

RUN_COMMENT = IPS-FASTRAN scan
TAG = 

SIMULATION_MODE = NORMAL
RESTART_TIME =
RESTART_ROOT = ${SIM_ROOT}

USE_PORTAL = True
PORTAL_URL = http://lb.ipsportal.development.svc.spin.nersc.org

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = ${SIM_ROOT}/work/plasma_state

STATE_FILES = state

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER

    # DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = ips_scan_driver 

    [[INIT]]
        IMPLEMENTATION = ips_scan_init
      
# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[ips_scan_init]
    CLASS = scan 
    SUB_CLASS = init
    NAME = ips_scan_init
    MODULE = script_ensemble.ips_scan_init
    SCRIPT =
    NPROC = 1
    BIN_PATH = 
    BIN =
    INPUT_DIR = ${PWD} #${INPUT_DIR_SIM}
    INPUT_FILES =  
    OUTPUT_FILES =
    RESTART_FILES =

[ips_scan_driver]
    CLASS = scan
    SUB_CLASS = driver
    NAME = ips_scan_driver 
    MODULE = script_ensemble.ips_scan_driver
    SCRIPT =
    NPROC = 1
    BIN_PATH =
    BIN =
    NUM_NODES = 1
    CORES_PER_SIMULATION = 2
    INPUT_DIR = ${PWD} # ${INPUT_DIR_SIM}
    INSCAN = inscan_32.csv
    SIMULATION = fastran_scenario.config
    INPUT_FILES = ${INSCAN} ${SIMULATION}
    OUTPUT_FILES =
    RESTART_FILES =

